[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "==0.16.0"
fastapi = "==0.70.1"

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.9"
